<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.park.cloud.cms.mapper.DictAreaPOMapper">
  <resultMap id="BaseResultMap" type="com.park.cloud.common.domain.po.dict.DictAreaPO">
    <id column="area_id" jdbcType="INTEGER" property="areaId" />
    <result column="area_code" jdbcType="VARCHAR" property="areaCode" />
    <result column="area_name" jdbcType="VARCHAR" property="areaName" />
    <result column="canton_id" jdbcType="INTEGER" property="cantonId" />
    <result column="area_remark" jdbcType="VARCHAR" property="areaRemark" />
    <result column="add_time" jdbcType="TIMESTAMP" property="addTime" />
    <result column="add_user" jdbcType="INTEGER" property="addUser" />
    <result column="network_num" jdbcType="VARCHAR" property="networkNum" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    area_id, area_code, area_name, canton_id, area_remark, add_time, add_user, network_num
  </sql>
  <select id="selectByExample" parameterType="com.park.cloud.common.domain.po.dict.DictAreaPOExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from dict_area
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from dict_area
    where area_id = #{areaId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from dict_area
    where area_id = #{areaId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.park.cloud.common.domain.po.dict.DictAreaPOExample">
    delete from dict_area
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.park.cloud.common.domain.po.dict.DictAreaPO">
    insert into dict_area (area_id, area_code, area_name, 
      canton_id, area_remark, add_time, 
      add_user, network_num)
    values (#{areaId,jdbcType=INTEGER}, #{areaCode,jdbcType=VARCHAR}, #{areaName,jdbcType=VARCHAR}, 
      #{cantonId,jdbcType=INTEGER}, #{areaRemark,jdbcType=VARCHAR}, #{addTime,jdbcType=TIMESTAMP}, 
      #{addUser,jdbcType=INTEGER}, #{networkNum,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.park.cloud.common.domain.po.dict.DictAreaPO">
    insert into dict_area
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="areaId != null">
        area_id,
      </if>
      <if test="areaCode != null">
        area_code,
      </if>
      <if test="areaName != null">
        area_name,
      </if>
      <if test="cantonId != null">
        canton_id,
      </if>
      <if test="areaRemark != null">
        area_remark,
      </if>
      <if test="addTime != null">
        add_time,
      </if>
      <if test="addUser != null">
        add_user,
      </if>
      <if test="networkNum != null">
        network_num,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="areaId != null">
        #{areaId,jdbcType=INTEGER},
      </if>
      <if test="areaCode != null">
        #{areaCode,jdbcType=VARCHAR},
      </if>
      <if test="areaName != null">
        #{areaName,jdbcType=VARCHAR},
      </if>
      <if test="cantonId != null">
        #{cantonId,jdbcType=INTEGER},
      </if>
      <if test="areaRemark != null">
        #{areaRemark,jdbcType=VARCHAR},
      </if>
      <if test="addTime != null">
        #{addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="addUser != null">
        #{addUser,jdbcType=INTEGER},
      </if>
      <if test="networkNum != null">
        #{networkNum,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.park.cloud.common.domain.po.dict.DictAreaPOExample" resultType="java.lang.Long">
    select count(*) from dict_area
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update dict_area
    <set>
      <if test="record.areaId != null">
        area_id = #{record.areaId,jdbcType=INTEGER},
      </if>
      <if test="record.areaCode != null">
        area_code = #{record.areaCode,jdbcType=VARCHAR},
      </if>
      <if test="record.areaName != null">
        area_name = #{record.areaName,jdbcType=VARCHAR},
      </if>
      <if test="record.cantonId != null">
        canton_id = #{record.cantonId,jdbcType=INTEGER},
      </if>
      <if test="record.areaRemark != null">
        area_remark = #{record.areaRemark,jdbcType=VARCHAR},
      </if>
      <if test="record.addTime != null">
        add_time = #{record.addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.addUser != null">
        add_user = #{record.addUser,jdbcType=INTEGER},
      </if>
      <if test="record.networkNum != null">
        network_num = #{record.networkNum,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update dict_area
    set area_id = #{record.areaId,jdbcType=INTEGER},
      area_code = #{record.areaCode,jdbcType=VARCHAR},
      area_name = #{record.areaName,jdbcType=VARCHAR},
      canton_id = #{record.cantonId,jdbcType=INTEGER},
      area_remark = #{record.areaRemark,jdbcType=VARCHAR},
      add_time = #{record.addTime,jdbcType=TIMESTAMP},
      add_user = #{record.addUser,jdbcType=INTEGER},
      network_num = #{record.networkNum,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.park.cloud.common.domain.po.dict.DictAreaPO">
    update dict_area
    <set>
      <if test="areaCode != null">
        area_code = #{areaCode,jdbcType=VARCHAR},
      </if>
      <if test="areaName != null">
        area_name = #{areaName,jdbcType=VARCHAR},
      </if>
      <if test="cantonId != null">
        canton_id = #{cantonId,jdbcType=INTEGER},
      </if>
      <if test="areaRemark != null">
        area_remark = #{areaRemark,jdbcType=VARCHAR},
      </if>
      <if test="addTime != null">
        add_time = #{addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="addUser != null">
        add_user = #{addUser,jdbcType=INTEGER},
      </if>
      <if test="networkNum != null">
        network_num = #{networkNum,jdbcType=VARCHAR},
      </if>
    </set>
    where area_id = #{areaId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.park.cloud.common.domain.po.dict.DictAreaPO">
    update dict_area
    set area_code = #{areaCode,jdbcType=VARCHAR},
      area_name = #{areaName,jdbcType=VARCHAR},
      canton_id = #{cantonId,jdbcType=INTEGER},
      area_remark = #{areaRemark,jdbcType=VARCHAR},
      add_time = #{addTime,jdbcType=TIMESTAMP},
      add_user = #{addUser,jdbcType=INTEGER},
      network_num = #{networkNum,jdbcType=VARCHAR}
    where area_id = #{areaId,jdbcType=INTEGER}
  </update>

  <select id="selectByDto" parameterType="com.park.cloud.common.domain.dto.cms.DictAreaDto"
          resultType="com.park.cloud.common.domain.vo.cms.DictAreaVO">
    SELECT
    a.area_id as areaId
    ,a.area_name as areaName
    ,a.area_code as areaCode
    ,a.canton_id as cantonId
    ,c.canton_name as cantonName
    ,c.city_id as cityId
    ,a.area_remark as areaRemark
    ,a.add_time as addTime
    ,b.user_true_name as addUserName
    ,(select count(*) from dict_section aa where aa.area_id = a.area_id) as sectionNum
    ,(select count(*) from dict_parking_city ab where ab.area_id = a.area_id) as parkingNum
    FROM dict_area a
    left join sys_user b on b.user_id = a.add_user
    left join dict_canton c on c.canton_id = a.canton_id
    <where>
      1=1
      <if test="areaName != null">
        and a.area_name like CONCAT('%',#{areaName},'%')
      </if>
      <if test="cantonId != null">
        and a.canton_id = #{cantonId}
      </if>
      <if test="loginUserAreaAssType == 1">
        and c.city_id in (${loginUserCityIds})
      </if>
      <if test="loginUserAreaAssType == 2">
        and a.canton_id in (${loginUserCantonIds})
      </if>
      <if test="loginUserAreaAssType == 3">
        and a.area_id in (${loginUserAreaIds})
      </if>
    </where>
    order by a.add_time desc
  </select>

  <select id="selectListByDto" parameterType="com.park.cloud.common.domain.dto.cms.DictCantonDto"
          resultType="com.park.cloud.common.domain.vo.cms.DictAreaListVO">
    SELECT
    a.area_id as areaId
    ,a.area_name as areaName
    FROM dict_area a
    left join dict_canton c on c.canton_id = a.canton_id
    <where>
      1=1
      <if test="areaName != null">
        and a.area_name like CONCAT('%',#{areaName},'%')
      </if>
      <if test="cantonId != null">
        and a.canton_id = #{cantonId}
      </if>
      <if test="loginUserAreaAssType == 1">
        and c.city_id in (${loginUserCityIds})
      </if>
      <if test="loginUserAreaAssType == 2">
        and a.canton_id in (${loginUserCantonIds})
      </if>
      <if test="loginUserAreaAssType == 3">
        and a.area_id in (${loginUserAreaIds})
      </if>
    </where>
    order by a.add_time desc
  </select>
</mapper>